.user-edit,
.user-delete {
    width: 84px;
    border-radius: 25px;
    border: 1px solid #ec911a;
    padding: 5px 25px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: #000;
}

.user-delete {
    border: 1px solid #e8e8e8;
    color: #f34949;
    margin-top: 5px;
}
.area-align {
    margin-left: 95px;
    margin-top: -40px;
}
.edit-align {
    padding: 0 !important;
}

.edit-role-align {
    padding: 10px 17px !important;
    margin-left: 12px !important;
}

.user_area {
    word-break: break-word;
}

.user-reset {
    width: 142px;
    border-radius: 25px;
    border: 1px solid #ec911a;
    padding: 5px 20px;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: #000;
}

.re-user-name {
    color: #818181;
}

#dashboardModalResetPassword .modal-reset-body {
    margin-bottom: 15px;
}

.button-role-size {
    width: 17% !important;
}
.head-crn {
    width: 15%;
}

#password_save_change {
    border: 1px solid #ec911a;
    display: inline-block;
    text-align: center;
    text-decoration: none;
    color: #000;
}
