.sdm__table {
  position: relative;

  &__column {
    width: max-content;
    font-size: 14px;
    font-weight: 400;

    &--actionable {
      display: grid;
      grid-template-columns: 1fr auto;
      gap: 0.5rem;
      cursor: pointer;

      i,
      svg {
        align-self: center;
        cursor: pointer;
      }
    }
  }

  &__row {
    width: max-content;
    font-size: 13px;

    &--actionable {
      display: flex;
      align-items: center;
      gap: 0.5rem;
      cursor: pointer;
    }
  }
}
