.customer-container {
    margin-top: 18px;
    margin-bottom: 30px;
    padding: 14px;
    border-radius: 18px;
    background: #fff;

    .customer-row {
        .customer-search {
            margin-bottom: 10px;
        }
        .pagination {
            margin-left: 21px;
        }
        .customer-search > .search > input {
            margin-left: 21px;
            width: 200px;
        }
        .date-group {
            margin-left: 0 !important;

            form {
                width: 100%;
                margin-left: 15px;
            }
        }

        .customer-table {
            .table {
                thead {
                    tr {
                        th {
                            font-size: 13px;
                            color: rgba(0, 0, 0, 0.5);
                            text-align: center;
                            border-top: none !important;
                            border-bottom: 1px solid #dee2e6 !important;
                        }
                    }
                }
                tbody {
                    tr {
                        td {
                            cursor: pointer;
                            text-align: center;
                        }
                        .customer-account-no {
                            color: #5a76e6;
                        }
                    }
                }
            }
        }
    }
}

.detail {
    #planChangeModal {
        .modal-dialog {
            .modal-content {
                .modal-body {
                    textarea {
                        background-color: #e8e8e8;
                        border-color: #e8e8e8;
                        width: 100%;
                    }
                }
                .modal-footer {
                    .planchange-btn {
                        color: #ffffff;
                        background-color: #ec911a;
                        border-color: #ec911a;
                        width: 100px;
                        border-radius: 20px;
                    }
                }
            }
        }
    }
}