.overview__wrapper {
  border-radius: 18px;
  overflow: hidden;
}

.overview {
  padding-block: 12px;
  position: relative;
  background-color: #ffffff;
  border-radius: 18px;

  &__header {
    padding-inline: 1rem;
    position: sticky;
    left: 0;
    top: 0;
    &__heading {
      font-size: 1.2rem;
    }
    &__btn {
      padding-block: 2px;
      padding-inline: 8px;
      background-color: rgb(220 226 205);
      text-decoration: none;
      outline: none;
    }
  }

  &__group {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    transition: opacity 0.5s ease;

    &__item {
      padding-top: 16px;
      text-align: center;

      &__record {
        font-size: 20px;
        color: #ffd400;
        font-weight: bold;
      }

      &__label {
        font-size: 14px;
        color: #9c9c9c;
      }

      &:nth-child(1),
      &:nth-child(2),
      &:nth-child(3),
      &:nth-child(5),
      &:nth-child(7),
      &:nth-child(6),
      &:nth-child(9),
      &:nth-child(10),
      &:nth-child(11) {
        border-right: 1px solid #272121;
      }

      &:nth-child(5),
      &:nth-child(6),
      &:nth-child(7),
      &:nth-child(8) {
        border-top: 1px solid #e3e3e3;
        border-bottom: 1px solid #e3e3e3;
      }
    }
  }
}
