.custom-card {
    padding: 23px;
    box-shadow: 0 3px 20px 0 rgba(0, 0, 0, 0.1);
}

.custom-header {
    border-bottom: none;
    background: none;
}

.logo {
    width: 200px;
}

.custom-fg {
    padding: 0 !important;
}

.custom-btn {
    padding: 11px 52px;
    border-radius: 25px;
    background: #ec911a;
    border: none;
    color: #fff;
    margin-top: 40px;
    margin-bottom: 55px;
    margin-right: 20px;
}