.custom-list {
    .list-header {
        display: flex;

        p {
            margin-bottom: 0;
            font-weight: 600;
        }

        .head-1, .head-4, .head-5, .head-2, .head-3, .head-6, .head-7 {
            width: 200px;
        }
        .head-8, .head-9 {
            width: 100px;
        }
        .head-9 {
            text-align: center;
        }
    }
    .list-body {
        display: flex;
        align-items: center;
        p {
            margin-bottom: 0;
            font-size: 13px;
        }

        .body-1, .body-4, .body-5, .body-2, .body-3, .body-6, .body-7 {
            width: 200px;
            word-break: break-all;
        }
        .body-8, .body-9 {
            width: 100px;
        }
        .body-9 {
            text-align: center;
            .more-icon {
                padding:10px 8px 3px;
                border: 1px solid #707070;
                border-radius: 0.5em;
                .caret{
                    font-size: 26px;
                    transition: all 0.3s ease-in;
                }
            }
            .rotate-more-icon {
                .caret{
                    transform: rotate(180deg);
                }
            }
        }
    }
    .list {
        display: flex;
        text-align: center;
        justify-content: center;
        transition: all 0.2s ease-in;
        div {
            width: 15%;
        }
    }
    .list-collapse {
        margin-top: 0;
        height: 0;
        overflow: hidden;
    }
    .list-expend {
        height: 5em !important;
        margin-top: 20px !important;
    }
}

.collapse-head {
    font-weight: 400;
    font-size: 14px;
}

.collapse-body {
    font-size: 13px;
}

.general-report-date-group {
    margin-left: 0px !important;
}
