
.plan-edit-btn {
    color: #000;
    display: block;
    width: 70px;
    height: 25px;
    border: 1px solid #ec911a;
    border-radius: 22px;
    line-height: 21px;
    text-align: center;
    text-decoration:none;
 }

.plan-dlt-btn{
    color: red;
    display: block;
    width: 70px;
    height: 25px;
    border: 1px solid #9c9c9c;
    border-radius: 22px;
    line-height: 10px;
    text-align: center;
    background: none;	

}