.detail {
    #refundRequestModal,#installCancelModal  {
        .modal-dialog {
            .modal-content {
                .modal-body {
                    span {
                        color: #818181;
                    }
                    textarea {
                        background-color: #e8e8e8;
                        border-color: #e8e8e8;
                        width: 100%;
                    }
                }
                .modal-footer {
                    .refund-btn {
                        color: #ffffff;
                        background-color: #ec911a;
                        border-color: #ec911a;
                        width: 100px;
                        border-radius: 20px;
                    }
                }
            }
        }
    }

    #exampleModal {
        .modal-dialog {
            .modal-content {
                .modal-body {
                    textarea {
                        background-color: #e8e8e8;
                        border-color: #e8e8e8;
                        width: 100%;
                    }
                }
            }
        }
    }
    .installation-details {
        .nav-fill {
            a {
                color: #000000;
            }
        }

        .tab-content {
            .survey-list {
                display: grid;
                grid-template-columns: 10% 80% 10%;
                .survey-list-row {
                    grid-column: 2/3;
                    .edit-form {
                        display: grid;
                        grid-template-columns: 50% 50%;
                        .update-btn {
                            display: none;
                        }
                        .name {
                            grid-column: 1/1;
                            margin-bottom: 10px;
                            text-align: center;

                            button {
                                background: none;
                                color: #000;
                                border: 1px solid #ec911a;
                                border-radius: 25px;
                                padding: 5px 16px;
                            }

                            .update {
                                background: #ec911a;
                                color: #fff;
                                border: 1px solid #ec911a;
                                border-radius: 25px;
                                padding: 5px 16px;
                            }

                            .cancel-btn {
                                background: none;
                                color: #000;
                                border: none;
                            }
                        }
                        .pass-fail {
                            grid-column: 2/3;
                            .survey-pass {
                                color: #2dd16e;
                            }
                            .survey-fail {
                                color: #f34949;
                            }
                            .survey-pending {
                                color: #000000;
                            }
                        }
                        .pass-fail-checkbox {
                            grid-column: 2/3;
                            display: none;
                            .switch {
                                position: relative;
                                display: inline-block;
                                width: 60px;
                                height: 34px;
                            }

                            .switch input {
                                opacity: 0;
                                width: 0;
                                height: 0;
                            }

                            .slider {
                                position: absolute;
                                cursor: pointer;
                                top: 0;
                                left: 0;
                                right: 0;
                                bottom: 0;
                                background-color: #f34949;
                                -webkit-transition: 0.4s;
                                transition: 0.4s;
                            }

                            .slider:before {
                                position: absolute;
                                content: "";
                                height: 26px;
                                width: 26px;
                                left: 4px;
                                bottom: 4px;
                                background-color: #ffffff;
                                -webkit-transition: 0.4s;
                                transition: 0.4s;
                            }

                            input:checked + .slider {
                                background-color: #2dd16e;
                            }

                            input:focus + .slider {
                                box-shadow: 0 0 1px #2dd16e;
                            }

                            input:checked + .slider:before {
                                -webkit-transform: translateX(26px);
                                -ms-transform: translateX(26px);
                                transform: translateX(26px);
                            }

                            /* Rounded sliders */
                            .slider.round {
                                border-radius: 34px;
                            }

                            .slider.round:before {
                                border-radius: 50%;
                            }
                        }
                        .remark-lists {
                            grid-column: 2/3;
                            margin-bottom: 15px;
                        }
                    }
                }
            }
        }

        .activation {
            .onu-step-button {
                display: flex;
                padding-left: 50px;
                .update-onu-btn, .cancel-onu-btn {
                    display: none;
                    color: #fff;
                    background: #ec911a;
                    border-radius: 25px;
                    padding: 5px 25px;
                    border: none;
                }
                .cancel-onu-btn {
                    background: none;
                    border: none;
                    color: #000;
                }
                .edit-onu-btn {
                    color: #000;
                    border: 1px solid #ec911a;
                    padding: 5px 20px;
                    border-radius: 25px;
                }
            }
            .form-row > .form-group > .col-md-9 {
                // .olt-update,
                // .fdt-update,
                // .fat-port-update,
                // .onu-sn-update {
                //     display: none;
                // }
            }
            .info-box {
                .getAllproductUsages {
                    display: none;

                    .fiber-patch-cord, .fiber-cable {
                        margin-left: 10px;
                    }
                }
            }
        }

        .cabling-remark {
            padding: 20px 50px;
            .remark-container, .remark-container-splicing {
                padding-left: 30px;
                border-left: 3px solid #94a7ef;

                .remark-circle {
                    width: 11px;
                    height: 11px;
                    position: relative;
                    background: #fff;
                    border-radius: 50%;
                    left: -37px;
                    top: 36px;
                    border: 3px solid #94a7ef;
                }
                .remark-circle-splicing {
                    width: 11px;
                    height: 11px;
                    position: relative;
                    background: #fff;
                    border-radius: 50%;
                    left: -37px;
                    top: 36px;
                    border: 3px solid #ec911a;
                }
            }

            .remark-container-splicing {
                border-left: 3px solid #e3e3e3;
            }
        }
    }
}

.txt-area-title{
    margin-bottom: -6px !important;
    display: block !important;
    color: #000 !important;
}

.newrelocation-save-btn{
    border-radius: 25px;
    padding: 4px 47px;
    border: 1px solid #ec911a;
    background: #ec911a;
    color: #fff;
}
.relocation_action {
    border: 1px solid #ec911a;
    border-radius: 13px;
    padding: 3px 14px;
    font-size: 14px;
    cursor: pointer;
    color: #000;
    text-decoration: none;
}
@media screen and (max-width: 1200px) {
    .installation-table > table > thead{
        overflow-x: scroll;
        width:100%;
    }
    .relocation-table > table > thead{
        overflow-x: scroll;
    }
}
.updateImages {
  display: none;
}
