.area-lsp {
  text-decoration-line: underline;
  text-decoration-style: solid;
}
.area-code-color {
  background-color: #ffc107;
  padding: 4px 9px;
}
.area-lsp {
  color: #fff;
  text-decoration: none;
  font-weight: bold;
}
