.top {
  display: flex;
  margin-top: 14px;

  .over-view {
    width: 59%;
    margin-right: 1%;
    background: #fff;
    border-radius: 25px;
    padding: 22px 30px;

    .from-to {
      display: flex;
      align-items: center;

      form {
        display: flex;
        align-items: center;

        .from,
        .to {
          width: 38%;
        }
      }
    }

    .data {
      display: grid;
      grid-template-columns: 1fr 1fr 1fr;

      .each {
        p {
          margin: 0;
          text-align: center;
        }

        .record {
          font-size: 35px;
          color: #ffd400;
        }

        .label {
          font-size: 20px;
          color: #9c9c9c;
        }

        &:nth-child(1),
        &:nth-child(2),
        &:nth-child(4),
        &:nth-child(5),
        &:nth-child(7),
        &:nth-child(8) {
          border-right: 1px solid #e3e3e3;
        }

        &:nth-child(4),
        &:nth-child(5),
        &:nth-child(6) {
          border-top: 1px solid #e3e3e3;
          border-bottom: 1px solid #e3e3e3;
        }
      }
    }
  }

  .due-alert {
    width: 40%;
    border-radius: 25px;
    background: #fff;
    padding: 22px 30px;
    .label-box {
      width: 20px;
      height: 10px;
      display: inline-block;
    }
    .installation {
      background: #5a76e6;
    }
    .relocation {
      background: #fad584;
    }
    .oncall {
      background: #fa7b7b;
    }
    .due-alert-box {
      height: 281px;
      overflow-y: auto;
      overflow-x: hidden;

      .due-alert-item {
        margin-top: 7px;
        padding-left: 20px;

        p {
          margin: 0;
        }

        a {
          color: #000;
          text-decoration: underline;
        }

        span {
          font-weight: bolder;
        }

        .customer-name {
          display: inline-block;
        }

        .customer-type {
          color: #ec911a;
          margin-left: 5px;
        }

        .assigned-lsp {
          font-size: 13px;
          display: inline-block;
        }

        .order-id {
          color: #109aff;
          font-size: 12px;
          font-weight: 300;
        }
      }

      .installation-border {
        border-left: 3px solid #5a76e6 !important;
      }

      .relocation-border {
        border-left: 3px solid #fad584 !important;
      }

      .oncall-border {
        border-left: 3px solid #fa7b7b;
      }
    }
  }
}

.dashboard-filter {
  background-color: white;
  border-radius: 13px;
  margin-top: 10px;
  margin-left: -2px;
  height: 60px;
  overflow-x: auto;
}

.over-view-div {
  .over-view {
    width: 100%;
    height: auto;
    padding: 15px 30px;
    .data {
      display: grid;
      // grid-template-columns: 330px 330px 330px 220px;
      grid-template-columns: 316px 277px 323px 220px;
      transition: opacity 0.5s ease;
      .each {
        p {
          margin: 0;
          text-align: center;
        }
        .record {
          font-size: 20px;
          color: #ffd400;
          font-weight: bold;
        }
        .label {
          font-size: 14px;
          color: #9c9c9c;
        }
      }
    }
  }
}
.over-view-div .over-view .data .each:nth-child(1),
.over-view-div .over-view .data .each:nth-child(2),
.over-view-div .over-view .data .each:nth-child(3),
.over-view-div .over-view .data .each:nth-child(5),
.over-view-div .over-view .data .each:nth-child(7),
.over-view-div .over-view .data .each:nth-child(6),
.over-view-div .over-view .data .each:nth-child(9),
.over-view-div .over-view .data .each:nth-child(10),
.over-view-div .over-view .data .each:nth-child(11) {
  border-right: 1px solid #272121;
}
.over-view-div .over-view .data .each:nth-child(5),
.over-view-div .over-view .data .each:nth-child(6),
.over-view-div .over-view .data .each:nth-child(7),
.over-view-div .over-view .data .each:nth-child(8) {
  border-top: 1px solid #e3e3e3;
  border-bottom: 1px solid #e3e3e3;
}

.btn-over-view {
  height: 25px;
  background-color: rgb(220 226 205);
  text-decoration: none;
  outline: none;
}

.btn-refresh {
  height: 30px;
  background-color: rgb(220 226 205);
  text-decoration: none;
  outline: none;
  margin-top: 5px;
}

.btn-search {
  height: 30px;
  background-color: rgb(220 226 205);
  text-decoration: none;
  outline: none;
  margin-top: 5px;
}

.btn-over-due {
  height: 25px;
  background-color: rgb(220 226 205);
  text-decoration: none;
  outline: none;
}

.btn-overdue-oncall {
  height: 25px;
  background-color: rgb(220 226 205);
  text-decoration: none;
  outline: none;
}

.over-due-div {
  display: flex;
  height: auto;
  margin-top: 14px;
  transition: 0.3s;
  border-radius: 13px;
  margin-top: 6px;
  background: #fff;
  .over-install {
    width: 100%;
    padding: 21px 20px;
  }
}

.over-due-on-call {
  display: flex;
  transition: 0.3s;
  border-radius: 13px;
  margin-top: 6px;
  background: #fff;
  .over-oncall {
    width: 100%;
    padding: 21px 20px;
  }
}

.oncall-heading {
  height: 63px;
}

.oncall-body,
.hide-content {
  display: none;
}

.bottom {
  display: flex;
  margin-top: 14px;

  .inventory-alert {
    width: 32%;
    margin-right: 1%;
    background: #fff;
    border-radius: 25px;
    padding: 22px 30px;

    .label-box {
      width: 20px;
      height: 10px;
      display: inline-block;
    }

    .low-stock {
      background: #ec911a;
    }

    .out-of-stock {
      background: #f34949;
    }

    .inventory-alert-box {
      height: 281px;
      overflow-y: auto;

      .inventory-alert-item {
        margin-top: 7px;
        padding-left: 20px;

        p {
          margin: 0;
        }

        a {
          color: #000;
          text-decoration: underline;
        }

        .agos {
          color: #9c9c9c;
          font-size: 11px;
        }
      }

      .out-of-stock-border {
        border-left: 3px solid #f34949 !important;
      }

      .low-stock-border {
        border-left: 3px solid #ec911a !important;
      }
    }
  }

  .graph {
    width: 67%;
    border-radius: 25px;
    background: #fff;
    padding: 22px 30px;

    .tab-content {
      .tab-pane {
        .year-select {
          display: block;
          margin-left: auto;
        }
      }
    }

    .nav-item {
      border: 1px solid #707070;
      border-radius: 0;
      height: 34px;
      line-height: 1;

      .nav-link {
        border-radius: 0;
        color: #a5a5a5;
      }

      .active {
        background: #ec911a;
        color: #fff;
      }
    }

    .nav-item:nth-child(2) {
      border-left: none;
    }
  }
}
