.fats-box {
    background: #f5f5f5;
    padding: 15px 11px;

    .fats-label {
        font-size: 16px;
        margin-bottom: 7px;
    }
    .fats-detail {
        font-size: 13px;
        font-weight: 700;
        margin-bottom: 5px;
    }
}

.info-sector {
    padding: 20px;

    .info-label {
        font-size: 12px;
        color: #818181;
        margin-bottom: 9px;
    }
    .info-detail {
        font-weight: bold;
    }
}

.port-action {
    padding: 5px 7px;
    border-radius: 25px;
    border: 1px solid #ec911a;
    background: none;
    font-weight: 300;
    width: 90px;
}

.cancel-mordal-box-button {
    border: none;
    background: none;
    margin-left: 42px;
}

.available-count {
    font-weight: 800;
}
.fixed-count {
    color: #989898;
    font-weight: 300;
}

.status-percent {
    font-weight: 700;
}
.fdt-count {
    color: #5a76e6;
}
.edit-pencil {
    color: dodgerblue;
}
.above {
    color: #31b149;
}
.same {
    color: #3493e3;
}
.below {
    color: #ec911a;
}

.fat-full {
    font-size: 13px !important;
}

.auto-suggested {
    font-size: 11px;
    color: limegreen;
}

.created-fdts-label {
    font-size: 13px;
    color: #9c9c9c;
    margin-top: 5px;
    margin-bottom: 5px;
}

.created-fdts-item {
    font-weight: 300;
    font-size: 14px;
    margin-left: 3px;
}

.different-fdt-name {
    color: #f34949;
    font-size: 12px;
    display: none;
}

.default-status {
    display: inline-block;
    width: 15px;
    border-radius: 50%;
    height: 15px;
}
.status-available {
    background: #2dd16e;
}
.status-damaged {
    background: #f34949;
}
.status-used {
    background: #ffd400;
}
.numbers-of-ports {
    font-weight: 200;
    font-size: 14px;
}

.hover-row .visible-none {
    opacity: 0;
}

.hover-row:hover .visible-none {
    opacity: 1;
}

.custom-select-wrapper {
    position: relative;
    user-select: none;
    width: 100%;
}
.custom-select {
    position: relative;
    display: flex;
    flex-direction: column;
    border-width: 0 2px 0 2px;
    border-style: solid;
    border-color: #394a6d;
}
.custom-select__trigger {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 22px;
    font-size: 20px;
    font-weight: 300;
    color: #3b3b3b;
    height: 60px;
    line-height: 60px;
    background: #ffffff;
    cursor: pointer;
    border-width: 2px 0 2px 0;
    border-style: solid;
    border-color: #394a6d;
}
.custom-options {
    position: absolute;
    display: block;
    top: 100%;
    left: 0;
    right: 0;
    border: 1px solid #9c9c9c;
    border-top: 0;
    background: #fff;
    transition: all 0.5s;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    z-index: 2;
}
.custom-select.open .custom-options {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
}
.custom-option {
    position: relative;
    display: block;
    padding: 0 22px 0 22px;
    font-size: 15px;
    font-weight: 300;
    color: #3b3b3b;
    line-height: 35px;
    cursor: pointer;
    transition: all 0.5s;
}
.custom-option:hover {
    cursor: pointer;
    background-color: #b2b2b2;
}
.custom-option.selected {
    color: #ffffff;
    background-color: #9c9c9c;
}
.arrow {
    position: relative;
    height: 15px;
    width: 15px;
}
.arrow::before,
.arrow::after {
    content: "";
    position: absolute;
    bottom: 0px;
    width: 0.15rem;
    height: 100%;
    transition: all 0.5s;
}
.arrow::before {
    left: -5px;
    transform: rotate(45deg);
    background-color: #394a6d;
}
.arrow::after {
    left: 5px;
    transform: rotate(-45deg);
    background-color: #394a6d;
}
.open .arrow::before {
    left: -5px;
    transform: rotate(-45deg);
}
.open .arrow::after {
    left: 5px;
    transform: rotate(45deg);
}

.fat_input {
    background: #9c9c9c;
    border: none;
    width: 0px;
}
.port_status {
    text-transform: capitalize;
    margin-left: 5px !important;
}

.lat-label,
.lng-label {
    margin-right: 10px;
}

// .custom-city-select {
//     display: inline-block;
//     width: 100%;
//     height: calc(1.5em + 0.75rem + 2px);
//     padding: 0.375rem 1.75rem 0.375rem 0.75rem;
//     font-size: 1rem;
//     font-weight: 400;
//     line-height: 1.5;
//     color: #495057;
//     vertical-align: middle;
//     background: #fff
//         url("data:image/svg+xml,%3csvg xmlns='http://www.w3.org/2000/svg' width='4' height='5' viewBox='0 0 4 5'%3e%3cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3e%3c/svg%3e")
//         no-repeat right 0.75rem center/8px 10px;
//     border: 1px solid #ced4da;
//     border-radius: 0.25rem;
//     -webkit-appearance: none;
//     -moz-appearance: none;
//     appearance: none;
//     position: relative;
//     display: flex;
//     flex-direction: column;
//     border-width: 0 2px 0 2px;
//     border-style: solid;
//     border-color: #394a6d;
// }
