.sdm {
  max-width: 5000px;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 200px 1fr;
  margin-inline: auto;
  font-family: "Montserrat";
  &__main {
    height: 100%;
    max-height: 100vh;
    overflow: auto;
  }

  &__page-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  &__header-wrapper {
    @media (min-width: 992px) {
      padding-inline: 0.5rem;
    }
  }

  &__page-content-wrapper {
    padding-inline: 0.5rem;

    & > * + * {
      margin-top: 0.5rem;
    }
  }

  &__header {
    @media (min-width: 992px) {
      border-bottom-left-radius: 18px;
      border-bottom-right-radius: 18px;
    }
  }

  /*** For consistent padding ***/
  &__box {
    padding-block: 0.75rem;
    padding-inline: 0.875rem;
    background-color: #ffffff;

    &--rounded {
      border-radius: 1rem;
    }
  }

  &__select-group {
    --gap: 1rem;
    display: flex;
    gap: var(--gap);

    & > * {
      flex-basis: max-content;
    }
  }

  &__checkbox-group {
    --min-width: 160px;
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(var(--min-width), 1fr));
    gap: 0.5rem;
  }

  /*** For vertical spacing ***/
  &__vertical-spacer {
    --vertical-gap: 1rem;

    & > * + * {
      margin-top: var(--vertical-gap);
    }
  }

  /*** For horizontal spacing ***/
  &__horizontal-spacer {
    --horizontal-gap: 1rem;
    display: flex;
    gap: var(--horizontal-gap);
  }

  /*** Horizontal Seperator ***/
  .hr-separator {
    border: 0;
    border-top: 1px solid #ddd;
    margin: 1rem 0;
    width: 100%;

    &--thick {
      border-top-width: 2px;
    }

    &--dashed {
      border-top-style: dashed;
    }
  }

  /*** Enable Horizontal Scrollbar ***/
  &__horizontal-scrollbar {
    overflow-x: auto;
    overflow-y: hidden;

    &::-webkit-scrollbar {
      height: 0.6rem;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #ccc;
      border-radius: 0.5rem;
    }
  }

  /*** Enable Vertical Scrollbar ***/
  &__vertical-scrollbar {
    overflow-x: hidden;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 0.6rem;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #ccc;
      border-radius: 0.5rem;
    }
  }

  &__copy-icon {
    color: cornflowerblue;
  }
}
