.sdm {
  max-width: 1500px;
  display: grid;
  grid-auto-flow: column;
  grid-auto-columns: 1fr;

  @media (min-width: 992px) {
    grid-auto-flow: column;
    grid-auto-columns: 200px 1fr;
  }

  &__main {
    height: 100%;
    max-height: 100vh;
    overflow: auto;
  }

  &__page-wrapper {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
  }

  &__header-wrapper {
    @media (min-width: 992px) {
      padding-inline: 0.5rem;
    }
  }

  &__page-content-wrapper {
    padding-inline: 0.5rem;

    & > * + * {
      margin-top: 0.5rem;
    }
  }

  &__header {
    @media (min-width: 992px) {
      border-bottom-left-radius: 18px;
      border-bottom-right-radius: 18px;
    }
  }

  &__sidebar {
    display: none;
    height: 100vh;
    max-height: 100vh;
    position: sticky;
    left: 0;
    background-color: #fff;
    box-shadow: rgba(0, 0, 0, 0.05) 0px 6px 24px 0px,
      rgba(0, 0, 0, 0.08) 0px 0px 0px 1px;
    z-index: 100;
    overflow: auto;

    @media (min-width: 992px) {
      display: block;
    }

    &__items {
      display: grid;
      gap: 0.5rem;
      svg {
        width: 1rem;
        height: 1rem;
        &:hover {
          background-color: initial;
        }
      }
      a {
        padding-block: 0.5rem;
        padding-inline: 1rem;
        position: relative;
        display: grid;
        grid-template-columns: 1.5rem 1fr;
        gap: 0.3rem;
        color: #000;
        text-decoration: none;
        width: 100%;
      }
      a:hover {
        background-color: #fffef7;
        text-decoration: none;
        color: #ec911a;
      }
      a.active {
        background-color: #fffef7;
        color: #ec911a;
        
        &::before {
          content: "";
          width: 4px;
          height: 100%;
          position: absolute;
          top: 0;
          left: 0;
          background: #ec911a;
          border-top-right-radius: 0.5rem;
          border-top-left-radius: 0.5rem;
          border-bottom-right-radius: 0.5rem;
          border-bottom-left-radius: 0.5rem;
        }
      }
    }
  }

  /*** For consistent padding ***/
  &__box {
    padding-block: 0.75rem;
    padding-inline: 0.875rem;
    background-color: #ffffff;

    &--rounded {
      border-radius: 1rem;
    }
  }

  /*** Enable Horizontal Scrollbar ***/
  &__horizontal-scrollbar {
    overflow-x: auto;
    overflow-y: hidden;

    &::-webkit-scrollbar {
      height: 0.6rem;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #ccc;
      border-radius: 0.5rem;
    }
  }

  /*** Enable Vertical Scrollbar ***/
  &__vertical-scrollbar {
    overflow-x: hidden;
    overflow-y: auto;

    &::-webkit-scrollbar {
      width: 0.6rem;
    }

    &::-webkit-scrollbar-thumb {
      background-color: #ccc;
      border-radius: 0.5rem;
    }
  }

  &__copy-icon {
    color: cornflowerblue;
  }
}
